<template>
    <div class="columns">
        <slot></slot>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
  name: 'app-columns',
})
export default class Columns extends Vue {

}
</script>
