<template>
    <div class="field-label is-normal">
        <slot></slot>
    </div>
</template>
<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component({
    name: 'app-field-label',
  })
  export default class FieldLabel extends Vue {

  }

</script>
