import React, { Props } from 'react';

interface {{ component_name }}Props extends BaseProps {
  
}
const {{ component_name }} = (props: {{ component_name }}Props) => <div></div>;

export default {{ component_name }}