import React from 'react';
import ReactDOM from 'react-dom';
import {{ component_name }} from './{{component_name}}';

it('{{component_name}} renders without crashing', () => {
  const div = document.createElement('div');
  ReactDOM.render(<{{ component_name }} />, div);
  ReactDOM.unmountComponentAtNode(div);
});