<template>
    <div class="field-body">
        <div class="field">
            <p class="control">
                <slot></slot>
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
@Component({
   name: 'app-field-body',
})
export default class FieldBody extends Vue {

}
</script>
