<template>
    <app-button v-on:buttonClicked="$emit('buttonClicked')" :size="buttonSize">
        <app-icon :icon="icon" :size="iconSize"></app-icon>
        <span>
            <slot></slot>
        </span>
    </app-button>
</template>

<script lang="ts">
  import AppButton from '@/components/atoms/Button/AppButton.vue';
  import AppIcon from '@/components/atoms/Icon/AppIcon.vue';
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { BulmaSize, FaIcon } from '../../../lib/types/component-def';

  @Component({
    name: 'app-icon-button',
    components: { AppButton, AppIcon },
  })
  export default class AppIconButton extends Vue {
    @Prop({ default: FaIcon.GITHUB }) icon!: FaIcon;
    @Prop({ default: BulmaSize.SMALL }) buttonSize!: BulmaSize;
    @Prop({ default: BulmaSize.SMALL }) iconSize!: BulmaSize;
    @Prop() clickHandle!: () => void;
  }
</script>

<style scoped>

</style>