<template>
    <span :class="`icon ${size ? size : ''}`">
      <i :class="`${icon ? icon : ''}`"></i>
    </span>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { BulmaSize, FaIcon } from '../../../lib/types/component-def';

  @Component({
    name: 'app-icon',
  })
  export default class icon extends Vue {
    @Prop({ default: BulmaSize.SMALL }) size!: BulmaSize;
    @Prop({ default: FaIcon.GITHUB }) icon!: FaIcon;
  }
</script>

<style scoped>

</style>