<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <a class="navbar-item"
                   id="loginBtn"
                   v-if="!authenticated"
                   @click="login"
                >
                    Login
                </a>
                <a class="navbar-item"
                   id="logoutBtn"
                   v-if="authenticated"
                   @click="logout"
                >
                    Logout
                </a>

                <a
                        class="navbar-item"
                        v-if="!authenticated"
                        @click="signup"
                >
                    Signup
                </a>
            </div>
            <app-login-modal :isVisible="showLoginModal" @close="closeLogin" @signup="signup">
            </app-login-modal>
            <app-signup-modal :isVisible="showSignupModal" @close="closeSignup" @login="login">
            </app-signup-modal>
        </div>
    </nav>
</template>

<script lang="ts">
  import AppLoginModal from '@/components/organisms/Login/AppLoginModal.vue';
  import AppSignupModal from '@/components/organisms/Signup/AppSignupModal.vue';
  import { Component, Vue } from 'vue-property-decorator';

  @Component({
    name: 'app-nav-bar',
    components: { AppLoginModal, AppSignupModal },
  })
  export default class AppNavBar extends Vue {
    public loginModalIsVisible: boolean = false;
    public signupModalIsVisible: boolean = false;

    get showLoginModal(): boolean {
      return this.loginModalIsVisible;
    }

    get showSignupModal(): boolean {
      return this.signupModalIsVisible;
    }

    authenticated: boolean = false;

    login() {
      this.loginModalIsVisible = true;
      this.closeSignup();
    }

    signup() {
      this.signupModalIsVisible = true;
      this.closeLogin();
    }

    closeLogin() {
      this.loginModalIsVisible = false;
    }

    closeSignup() {
      this.signupModalIsVisible = false;
    }

  }
</script>
