<template>
    <a v-on:click="$emit('buttonClicked')" :class="`button ${size ? size : ''}`">
        <slot></slot>
    </a>
</template>

<script lang="ts">
  import { BulmaSize } from '@/lib/types/component-def';
  import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component({
    name: 'app-button',
  })
  export default class AppButton extends Vue {
    @Prop({ default: BulmaSize.SMALL }) size!: BulmaSize;
    @Prop() clickHandle!: () => void;
  }
</script>

<style scoped>

</style>