<template>
    <div className="field is-horizontal">
        <app-label for=""></app-label>
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { BaseProps } from '@/components/atoms/Column/Column.vue';
import Label from '@/components/atoms/Label/Label.vue';
import { Component, Vue } from 'vue-property-decorator';

interface FieldProps extends BaseProps {
  label?: string;
  type?: string;


}

@Component({
  name: 'app-field',
  components: { Label },
})
export default class Field extends Vue {

}
</script>