<template>
    <div :class="`column is-${size}`">
        <slot></slot>
    </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

export interface ColumnProps extends BaseProps {
  size?: ColumnSize;
}

export enum ColumnSize {
  THREE_QUARTERS = 'three-quarters',
  TWO_THIRDS = 'two-thirds',
  HALF = 'half',
  ONE_THIRD = 'one-third',
  ONE_QUARTER = 'one-quarter',
  FULL = 'full',
  EIGHTY = 'four-fifths',
  SIXTY = 'three-fifths',
  FORTY = 'two-fifths',
  TWENTY = 'two-fifths',
}

// todo
export interface BaseProps {
  children?: any;
  key?: any;
  ref?: any;
}

@Component({
  name: 'app-column',
})
export default class Column extends Vue {
  @Prop({default: 'full'}) public size!: string;
}
</script>


