<template>
    <app-modal :isVisible="isVisible">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Keep track of where we left off!</p>
                <button class="delete" aria-label="close" @click="close"></button>
            </header>
            <section class="modal-card-body">
                <app-icon-button
                        @click.native="signup"
                        :buttonSize="signupButton.buttonSize"
                        :iconSize="signupButton.iconSize"
                        :icon="signupButton.icon"
                >
                    Signup
                </app-icon-button>
            </section>
            <footer class="modal-card-foot">
                Already a member?&nbsp;<a @click="login">Login</a>
            </footer>
        </div>
    </app-modal>
</template>

<script lang='ts'>
  import AppModal from '@/components/atoms/Modal/AppModal.vue';
  import AppIconButton from '@/components/molecules/Buttons/AppIconButton.vue';
  import { BulmaSize, FaIcon } from '@/lib/types/component-def';
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { namespace } from 'vuex-class';
  import { Module } from '../../../lib/symbols';

  const module: string = Module.USER_ADMIN;
  @Component({
    name: 'app-signup-modal',
    components: { AppModal, AppIconButton },
  })
  export default class Signup extends Vue {
    @Prop({ default: false }) isVisible!: boolean;
    @namespace(module).Action('identity') identity!: () => void;
    public signupButton = {
      buttonSize: BulmaSize.LARGE,
      iconSize: BulmaSize.MEDIUM,
      icon: FaIcon.SIGN_UP,
    };

    public signup() {
      this.identity();
    }

    public created() {
    }

    public mounted() {
      console.log('signup page mounted');
    }

    public get signupSuccessful(): boolean {
      return (this.$route.params as any).success === 'true';
    }

    public login() {
      this.$emit('login');
    };

    public close() {
      this.$emit('close');
    }
  }
</script>

<style scoped>

</style>