<template>
    <app-field>
        <app-field-label>{label}</app-field-label>
        <app-field-body>
            <app-text-input
                    :value="value"
                    :isValid="isValid"
                    :onChange="onChange"
                    :type="type"></app-text-input>
        </app-field-body>
    </app-field>
</template>

<script lang="ts">
import Column from '@/components/atoms/Column/Column.vue';
import Field from '@/components/atoms/Field/Field.vue';
import FieldBody from '@/components/atoms/FieldBody/FieldBody.vue';
import TextInput from '@/components/atoms/TextInput/TextInput.vue';
import FieldLabel from '@/components/molecules/FieldLabel/FieldLabel.vue';
import { InputType } from '@/lib/Forms';
import { Component, Vue } from 'vue-property-decorator';

export interface InputFieldProps {
  label?: string;
  value?: string;
  name?: string;
  type?: InputType;
  onChange?: (val: any) => void;
  isValid?: boolean;
}

@Component({
  name: 'app-input-field',
  components: { Column, Field, FieldLabel, FieldBody, TextInput },
})
export default class InputField extends Vue {

}
</script>
