<template>
    <div>
        <div class="box" v-for="listing in listings">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img :src="listing.image" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ listing.title }}</strong>
                            <small>@johnsmith</small>
                            <small>31m</small>
                            <br>
                            {{ listing.content }}
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                            </a>
                            <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                            </a>
                            <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
</template>

<script lang="ts">
  interface IListing {
    photo: string;
    title: string;
    content: string;
  }

  import { Component, Vue } from 'vue-property-decorator';

  @Component({
    name: 'app-listing-list',
  })
  export default class Listing extends Vue {
    listings: IListing[] = [
      {
        photo: 'https://bulma.io/images/placeholders/128x128.png',
        title: 'listing 1',
        content: 'This is my first listing',
      },
      {
        photo: 'https://bulma.io/images/placeholders/128x128.png',
        title: 'listing 2',
        content: 'This is my second listing',
      },
      {
        photo: 'https://bulma.io/images/placeholders/128x128.png',
        title: 'listing 3',
        content: 'This is my third listing',
      },
      {
        photo: 'https://bulma.io/images/placeholders/128x128.png',
        title: 'listing 4',
        content: 'This is my fourth listing',
      },
      {
        photo: 'https://bulma.io/images/placeholders/128x128.png',
        title: 'listing 5',
        content: 'This is my fifth listing',
      },
    ];
  }
</script>

<style scoped>

</style>