<template>
    <div></div>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
  name: 'about',
})
export default class About extends Vue {

}
</script>