<template>
    <div>
        <slot></slot>
    </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
  name: 'app-base',
})
export default class Base extends Vue {

}
</script>