<template>
    <div :class="`modal ${isVisible ? 'is-active' : ''}`">
        <slot></slot>
    </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component({
    name: 'app-modal'
  })
  export default class AppModal extends Vue {
    @Prop({ default: false }) isVisible!: boolean;
  }
</script>

<style scoped>

</style>