<template>
    <div class='field-label is-normal'>
        <label :for="htmlFor" class='label'>
            <slot></slot>
        </label>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { BaseProps } from '../../atoms/Column/Column.vue';

interface LabelProps extends BaseProps {
  htmlFor?: string;
}

@Component({
  name: 'app-label',
})
export default class Label extends Vue {
  @Prop({ default: 'Field Label' }) public htmlFor!: string;
}
</script>