<template>
    <div id="app">
        <app-nav-bar></app-nav-bar>
        <app-listing-list></app-listing-list>
        <router-view/>
        <app-footer></app-footer>
    </div>
</template>
<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { namespace } from 'vuex-class';
  import AppFooter from './components/organisms/Footer/AppFooter.vue';
  import AppListingList from './components/organisms/ListingList/Listing.vue';
  import AppNavBar from './components/organisms/Nav/AppNavBar.vue';

  const module: string = 'userAdmin';
  @Component({
    components: { AppNavBar, AppFooter, AppListingList },
  })
  export default class App extends Vue {
    @namespace(module).Action('init') init;

    public created() {
      this.init();
    }
  }
</script>
<style lang="scss">

    @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
    @import '~@fortawesome/fontawesome-free/css/all.min.css';
    // Set your brand colors
    $purple: #8A4D76;
    $pink: #FA7C91;
    $brown: #757763;
    $beige-light: #D0D1CD;
    $beige-lighter: #EFF0EB;

    // Update Bulma's global variables
    $family-sans-serif: "Nunito", sans-serif;
    $grey-dark: $brown;
    $grey-light: $beige-light;
    $primary: $purple;
    $link: $pink;

    // Update some of Bulma's component variables
    $control-border-width: 2px;
    $input-background-color: $beige-lighter;
    $input-border-color: transparent;
    $input-shadow: none;

    @import '~bulma/bulma';
    @import '~bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio';
</style>
