<template>
    <input
            :type="type"
            :onChange="onChange"
            :defaultValue="value"
            :class='`${classesToString([...newClasses])}`'
            :disabled="disabled"
            :readonly="readonly"
    />
</template>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({
    name: 'app-text-input',
  })
  export default class TextInput extends Vue {

  }
</script>