<template>
    <div></div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
  name: 'app-icon-input',
})
export default class IconInput extends Vue {

}
</script>