<template>
    <app-modal :isVisible="isVisible">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Get back to what you were working on</p>
                <button class="delete" aria-label="close" @click="close"></button>
            </header>
            <section class="modal-card-body">
                <app-icon-button
                        :buttonSize="loginButton.buttonSize"
                        :iconSize="loginButton.iconSize"
                        :icon="loginButton.icon"
                >
                    Login
                </app-icon-button>
            </section>
            <footer class="modal-card-foot">
                Still need to&nbsp;<a @click="signup">Signup</a>?
            </footer>
        </div>
    </app-modal>
</template>

<script lang="ts">
  import AppModal from '@/components/atoms/Modal/AppModal.vue';
  import AppIconButton from '@/components/molecules/Buttons/AppIconButton.vue';
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { BulmaSize, FaIcon } from '../../../lib/types/component-def';

  const namespace: string = 'userAdmin';
  @Component({
    name: 'app-login-modal',
    components: { AppModal, AppIconButton },
  })
  export default class Login extends Vue {

    @Prop({ default: false }) isVisible!: boolean;
    loginButton = {
      buttonSize: BulmaSize.LARGE,
      iconSize: BulmaSize.MEDIUM,
      icon: FaIcon.SIGN_IN,
    };

    signup() {
      this.$emit('signup');
    }

    close() {
      this.$emit('close');
    }
  }
</script>

<style scoped>

</style>
